/* Style.css */
body {
  background: url("http://papers.co/wallpaper/papers.co-vz49-polygon-blue-texture-abstract-pattern-background-8-wallpaper.jpg");
  background-size: contain;
	font-family: "Roboto", sans-serif;
  }
  h1, h2, h3 {
	font-family: "VT323", monospace;
  }
  p {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
  }
  .container,
  nav,
  footer {
	width: 60%;
	display: block;
	margin: 20px auto;
	padding: 10px;
  background: #ffffff;
  border-radius: 10px;
  }

  #time {
    font-size:12px;
    float:right;
    display:inline;
    margin-top:-40px;
  }
  #navigation {
	font-family: "VT323", monospace;
  }
  #navigation a {
	font-size: 24px;
  }
  
  #logo {
	font-size: 24px;
  }
  
  ul {
	padding-left: 0px;
  }
  
  li {
	display: inline;
	margin-right: 5px;
  }
  
  .avatar {
	max-width: 200px;
	float: left;
	border: 2px solid #222;
	margin-right: 5px;
  }
  
  footer {
	text-align: center;
  }
  .project-img {
	float: left;
	display: inline;
	margin-right: 10px;
  }
  .project-details {
	float: right;
	display: inline;
	font-size: 16px;
	padding-bottom: 10px;
  }
  .clear {
	clear: both;
  }